<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
    <display-name>Servlet web app</display-name>

    <servlet>
        <servlet-name>test_servlet</servlet-name>
        <servlet-class>com.PB.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test_servlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ping-pong</servlet-name>
        <servlet-class>com.PB.PPServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ping-pong</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>sorting</servlet-name>
        <servlet-class>com.PB.JsonServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>sorting</servlet-name>
        <url-pattern>/sorting</url-pattern>
    </servlet-mapping>
</web-app>
